@import url('https://fonts.googleapis.com/css?family=Roboto');
@keyframes beauty {

 	0% {opacity: 0; transform:scale(0);}
  	100% {opacity: 1; transform:scale(1);}
}
@keyframes loading {
	100% {width:100%;}
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  50% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut {
	0%{opacity: 1;  display: inline-block;}
	100%{opacity: 0; display: none;}
}

.fadeOut{
	animation: fadeOut linear 1s 1 both;
}
body {
	margin:0;
	overflow-x: hidden;
}
.parent {
    position: absolute;
    top: calc((100vh - (48vh + 155px)) / 2);
    left: 3rem;
    /* margin: 10px 10px; */
    animation: beauty 2s linear 1;
}
.AlertBox {
    padding: 0.5rem;
    margin: 10px;
    color: black;
    box-sizing: content-box;
    position: relative;
    display: inline-block;
    max-width: 35vw;
    max-height: 15vh;
    width: 35vw;
    height: 12vh;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 0;
}

.AlertBox--inline{
padding: 0px 10px 0px 30px;
    height: 12vh;
}

.AlertBox img {
padding: 5px 0px 0px 0px;
    height: 4rem;
    width: 4rem;
}
.AlertBox p {
font-family: Roboto;
    color: white;
    display: inline-block;
    font-size: 0.9rem;
    position: absolute;
    top: 2rem;
    left: 10rem;
}


.AlertBox h1 {
font-family: Roboto;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    position: absolute;
    top: 0rem;
    left: 10rem;
}

.AlertBox__closeIcon {
    color: black;
    background: white;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    /* padding: 1px; */
    position: absolute;
    right: 15px;
    height: 20px;
    width: 20px;
    top: 10px;
}
.AlertBox__closeIcon:hover {
  color: #222;
}

.loader {
	background-color: white;
	z-index: 2;
	width: 10px;
	height: 10px;
	position: absolute;
	display: block;
	bottom: 0%;
	left: 0%;
	animation: loading 5s linear 1;
	animation-delay: 2s;
}

.parent-2 {
	animation: slideInRight 2s linear 1;
}

.parent-2 img{
	    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 50vw;
}


#New_Message {
	background-color: #3598db;
}
#Success {
	background-color: #2dcc70;
}
#Error {
	background-color: #e84c3d;
}
#Info {
	background-color: #f1c40f;
}

.after-clicks{
	font-family: Roboto;
}
